[Desktop Entry]
Categories=Network;Security;
{{#if comment}}Comment={{comment}}
{{/if}}Comment[nl]=Verbind met GlobalProtect-VPN (smartcard / certificaat)
Comment[fy]=Ferbyn mei GlobalProtect-VPN (smartcard / sertifikaat)
GenericName=VPN Client
GenericName[nl]=VPN-client
GenericName[fy]=VPN-client
Exec={{exec}} %u
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=io.github.techneut92.GPClient
Keywords=VPN;GlobalProtect;OpenConnect;PKCS11;
MimeType=x-scheme-handler/globalprotectcallback;
